html {
    scroll-behavior: smooth;
}

nav {
    background-color: #000000;
    font-family: 'Oxanium', cursive;
}

.navbar-brand img{
    width: 35%;
    height: auto;
}

.nav-item{
    color: #ffffff;
}

.home{
    height: 1500px;
    color: white;
    background-color: #062B72;
    background-image: url('images/vr.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oxanium', cursive;
}

.home h1{
    color: #F326CB;
    font-size: 100px;
}

.home h2 {
    color: #F326CB;
}

.home h4{
    color: #2BF9F9;
}


.gameplay{
    height: 600px;
    padding-top: 100px;
    background-color: white;
    font-family: 'Oxanium', cursive;
}

.carousel-inner{
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    width: 100%; 
}

.research{
    height: 875px;
    background-color: #f92e36;
    color: #ffffff;
    padding-top: 50px;
    font-family: 'Oxanium', cursive;

}

.further-reading a{
    color: white;
}

.about-us{
    height: 1300px;
    background-image: url('images/vr.png');
    background-image: url('images/vr.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-left: 100px;
    color: #ffffff;
    font-family: 'Oxanium', cursive;
}

.about-us img{
    width: 50%;
    height: auto;
}

.signup{
    height: 700px;
    /* background-color: #f92e36; */
    background-color: black;
}

.vision-statement{
    padding-top: 300px;
    padding-bottom: 350px;
}


#superhero-img{
    width: 100%;
    height: auto;

}

