html {
    scroll-behavior: smooth;
}

nav {
    background-color: #000000;
    font-family: 'Oxanium', cursive;
}

hr{
    background-color: black;
}




.navbar-brand img{
    width: 35%;
    height: auto;
}

.nav-item{
    color: #ffffff;
}

.home{
    height: 700px;
    color: white;
    background-color: #062B72;
    background-image: url('images/vr.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oxanium', cursive;
}

.home h1{
    color: #F326CB;
    font-size: 100px;
}

.home h2 {
    color: #F326CB;
}


.home h4{
    color: #2BF9F9;
}

.introduction{
    height: 800px;
    padding-top: 150px;
    color: white;
    background-color: #062B72;
    background-image: url('images/vr.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oxanium', cursive;
}

.introduction h2 {
    color: #F326CB;
}

.introduction h4{
    color: #2BF9F9;
}

.gameplay{
    background-image: url('images/vr.png');
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    padding-top: 160px;
    padding-bottom: 100px;
    font-family: 'Oxanium', cursive;
}

#mockups{
    position:absolute;
    right:0;
}
#section2{
    padding-top: 20px;
}


.carousel-inner{
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    width: 100%; 
}

.research{
    height: 1100px;
    background-color: black;
    color: #ffffff;
    padding-top: 50px;
    font-family: 'Oxanium', cursive;

}

.research h3{
    color: #48ffd5
}

.further-reading a{
    color: white;
}

.about-us{
    height: 1150px;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
    color: #ffffff;
    font-family: 'Oxanium', cursive;
}

.about-us img{
    width: 50%;
    height: auto;
}

.about-us p{
    padding-top: 10px;
}


#team-1{
    padding-bottom: 50px;
}
#team-2{
    padding-top: 20px;
}

.team-img {
    border-radius: 50%;

}
.team-role{
    padding-top: 20px;
    color: black;
}

.signup{

    height: 500px;
    /* background-color: #f92e36; */
    background-color: black;
}

.vision-statement{
    padding-top: 300px;
    padding-bottom: 350px;
}


#superhero-img{
    width: 100%;
    height: auto;

}
