
.home{
    height: 1000px;
}

.gameplay{
    height: 1000px;
    background-color: #4ba4ed;

}

.about-us{
    height: 500px;
    background-color: black;

}

.signup{
    height: 700px;
    background-color: #f92e36;
}